@keyframes glowing {

    0% {
      background-color: #52d88800;
      box-shadow:  0px 0px 15px #52d88819;
      border-radius: 50%;
    }
    50% {
      background-color: #52d88852;
      box-shadow:  0px 0px 15px #52d888ff;
      border-radius: 50%;
    }
    100% {
      background-color: #52d88800;
      box-shadow:  0px 0px 15px #52d88819;
      border-radius: 50%;
    }
  }
  .glow-green {
    animation: glowing 2000ms infinite;
  }

  .v-btn {
    min-width: 0;
    min-height: 0;
  }
  .v-row-top {
    margin: 5px;
  }
  .max-v-list-height {
    max-height: 300px;
    overflow-y: auto;
}